*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: robotoslab;
    src: url('../fonts/RobotoSlab-Regular.ttf');
}
@font-face {
    font-family: Arciform;
    src: url('../fonts/Arciform.otf');
}
/*@import url(https://fonts.googleapis.com/css?family=Overlock);*/
a
{
    text-decoration: none;
}
a:hover, a:active, a:visited
{
    text-decoration: none;
    background-color: transparent!important;
}
body
{
    color: #333!important;
	font-family: robotoslab;
}
body::-webkit-scrollbar {
    width: 17px;
} 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
/*    border: 2px solid white;*/
} 
body::-webkit-scrollbar-thumb {
    background-color: #484848;
    outline: 0px solid #0b5196;
    border: 6px solid white;   
    border-top: 1px solid white;
    border-bottom: 1px solid whites;
}
/*************** start screen css start ******************/
#start_screen
{
    width: 100%;
    height: 100vh;
    background: #151515;
    position: absolute;
    z-index: 999;
    transition: 0.4s all ease;
}
.main_wrapper
{
    position: relative;
}
header
{
    position: absolute;
	z-index: 9;
    width: 100%;
}
.header-wrap
{
	background: rgba(255, 255, 255, 0.69);
}
#logo_wrapper
{    
    margin: 0 auto;
    width: 280px;
    top: 30%;
    /* left: 39%; */
/*    background: #fff;*/
    padding: 100px;
    position: relative;
    text-align: center;
}
#spin_img
{
    transform: scale(0);
    transition: 0.9s all ease;
}
.spinner
{
    transform: scale(1)!important;
    animation: spin 2s linear infinite;   
}
.spinner_opacity{
    opacity: 0!important;
}
@keyframes spin
{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
#arrow_img1
{
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 2;
    width: 85px;
    transition: 0.9s all ease;
    opacity: 0;
/*    transform: translate(75px, 85px);*/
}
.arrow_img1_trans
{
    opacity: 1!important;
    top: 82px!important;
    left: 75px!important;    
}
.arrow_img1_trans2
{
    opacity: 0!important;
    top: 40px!important;
    left: 0px!important;    
}
#arrow_img2
{
    position: absolute;
    top: 0px;
    left: 115px;
    z-index: 1;
    width: 85px;
    transition: 0.9s all ease;
    opacity: 0;
/*    transform: translate(75px, 85px);*/
}
.arrow_img2_trans
{
    opacity: 1!important;
    top: 31px!important;
    left: 115px!important;    
}
.arrow_img2_trans2
{
    opacity: 0!important;
    top: 0px!important;
    left: 115px!important;    
}
#arrow_img3
{
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 0;
    width: 85px;
    transition: 0.9s all ease;
    opacity: 0;
/*    transform: translate(75px, 85px);*/
}
.arrow_img3_trans
{
    opacity: 1!important;
    top: 66px!important;
    right: 65px!important;    
}
.arrow_img3_trans2
{
    opacity: 0!important;
    top: 40px!important;
    right: 0px!important;    
}
/*************** start screen css end ******************/

/*************** head navigation css start ******************/
.logo_img
{
    width: 175px;
}
.navbar-toggle
{
	position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #333;
    border-radius: 4px;
}
.navbar
{
	width: 100%;
	padding: 20px 0px;	
	margin-bottom: 0px;
}
.nav-wrap
{
	float: right;
	margin-top: 15px;
}
.navbar-nav>li>a
{
	font-family: robotoslab;
	font-size: 17px;
	color: #000;
}
.navbar-nav>li>a:hover
{
	background: transparent!important;
}
span.hover_arrow
{
    width: 15px;
    height: 15px;
    background-image: url('../img/hoverarrow.png');
    background-position: top left;
    background-size: cover;
    position: absolute;
    bottom: -15px;
    left: 48%;
    opacity: 0;
    transition: 0.5s all ease;
}
.nav>li:hover span.hover_arrow
{
	bottom: -3px;
    opacity: 1;
}
.navbar-collapse.in
{
	overflow-y: initial;
}
/*************** head navigation css end ******************/

/*************** particle css start ******************/

.particle-wrap
{
/*	margin-top: 100px;*/
	width: 100%;
	position: relative;
    padding: 15% 0px;
/*    overflow: hidden;*/
}
#particles 
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: rgb(7, 26, 70);
	background: url('../img/banner-bg4.jpg');
	background-size: cover;
	background-position: center bottom;
	z-index: -2;
}
.ban-overlay
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: rgba(7, 26, 70, 0.40);
	z-index: -1;
}

.scroll-down
{
	width: 50px;
    height: 70px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    bottom: -35px;
    left: 48%;
    overflow: hidden;
    background: rgb(255, 215, 62);
    border: 5px solid #fff;
    box-sizing: border-box;
    border-radius: 25px 25px 25px 25px;
}
.fa-long-arrow-down
{
	color: #333;
	font-size: 16px;
	position: relative;
	top: -5px;
	cursor: pointer;
    animation: down-arrow 4s infinite;
/*	opacity: 0;*/
}
@keyframes down-arrow{
    0%{
        top: 5px;
/*        opacity: 1;   */
    }
    25%{
        top: -5px;
/*        opacity: 0.5;*/
    }
    50%{
        top: 5px;
/*        opacity: 1;*/
    }
    75%{
        top: -5px;
/*        opacity: 0.5;*/
    }
    100%{
        top: 5px;
/*        opacity: 1;*/
    }
}
span.name-wrap
{
	display: inline-block;
	padding: 10px 20px;
/*	background-color: #333; */
}
span.name
{
/*	font-family: Arciform;*/
/*	font-family: 'Bree Serif', serif;*/
/*	font-family: 'Righteous', cursive;*/
	font-family: 'Source Code Pro', monospace;
	color: #fff;
	font-size: 70px;
	padding: 0px 20px;
	text-align: center;
/*	background: #fff;*/
	text-transform: uppercase;
	display: inline-block;
}
/*************** particle css end ******************/


/*************** about me css start ******************/
h1{
	font-size: 36px;
	position: relative;
}
h1:after{
	content: "";
    display: block;
    width: 100px;
    height: 0px;
    border-bottom: 3px solid #10daa8 ;
	position: absolute;
	bottom: 0;
	left: 0;
}
.abt-img{
	width: 100%;
    /* -webkit-clip-path: polygon(0% 0%, 99% 5%, 99% 97%, 0% 100%); */
    /* clip-path: polygon(0% 0%, 99% 3%, 99% 97%, 0% 100%); */
    -webkit-box-shadow: -131px 104px 49px -60px rgba(196,196,196,1);
    -moz-box-shadow: -131px 104px 49px -60px rgba(196,196,196,1);
    box-shadow: -131px 104px 49px -60px rgba(196,196,196,1);
    -webkit-box-shadow: -45px 45px 25px 13px rgba(122,122,122,1);
    -moz-box-shadow: -45px 45px 25px 13px rgba(122,122,122,1);
    box-shadow: -0px 0px 0px 0px rgba(122, 122, 122, 0.48);
    border-left-width: 3px;
    border-left-color: #fff;
    border-left-style: solid;
	border-bottom-width: 3px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
	position: relative;
    top: 45px;
    left: -45px;
	transition: 0.9s all ease;
}
.about-section:hover .abt-img{
	top: 0px;
	left: 0px;
	box-shadow: -45px 45px 25px 13px rgba(122, 122, 122, 0.48);
}
p.details-para{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 30px;
	padding-top: 20px;
    text-align: justify;
}
.social-media ul{
	list-style-type: none;
}
.social-media ul li{
	display: inline-block;
	padding: 0px 10px;
	font-size: 16px;
}
.social-media ul li:first-child{
	padding-left: 0px;
}
.social-media ul li a .fa{ 
	color: #333;
	font-size: 18px;
}
.facebook{
	color: #3b5998!important;
}
.instagram{
	color: #bc2a8d!important;
}
.twitter{
	color: #00aced!important;
}
.linkedin{
	color: #007bb6!important;
}
/*************** about me css end ******************/

/*************** service css start ******************/
.services-section{
    background-color: #333;
}
h2{
	font-size: 36px; 
}
/*************** about me css end ******************/


@media (max-width:768px) {
        
}
@media (min-width:768px) and (max-width:992px) {
   
}
@media (min-width:992px) and (max-width:1200px) {
    
}
@media (min-width:1200px) {

}


